## Recuperando dados do PMAQ

Usando dados disponibilizados

In [26]:
import pandas as pd
import numpy as np

import datetime

O primeiro passo é importar os CSVs. Escolher apenas as variáveis referentes a sífilis e teste rápido ajuda a diminuir o tempo de processamento e espaço ocupado.

In [27]:
m1 = pd.read_csv('../data/BANCO_PMAQ/M_I.csv', usecols=['IBGE', 'CNES_FINAL', 'DATA', 'I.11.1', 'I.15.9.3', 'I.15.9.4'], sep=';', parse_dates=['DATA'])

m1.head()

     IBGE CNES_FINAL                    DATA  I.11.1  I.15.9.3  I.15.9.4
0  120001    3382745 2017-10-16 11:55:06.999       1         2         2
1  120001    3393984 2017-10-16 11:53:35.875       1       998       998
2  120001    3638685 2017-10-16 11:56:20.573       1         2         2
3  120001    5403669 2017-10-16 11:58:08.037       1         2         2
4  120005    3797554 2017-10-16 01:35:10.520       1       998       998

In [28]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30346 entries, 0 to 30345
Data columns (total 6 columns):
IBGE          30346 non-null int64
CNES_FINAL    30346 non-null object
DATA          30346 non-null datetime64[ns]
I.11.1        30346 non-null int64
I.15.9.3      30346 non-null int64
I.15.9.4      30346 non-null int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.4+ MB

In [29]:
m2 = pd.read_csv('../data/BANCO_PMAQ/M_II.csv', usecols=['IBGE', 'CNES_FINAL', 'INE', 'DATA', 'II.12.1.7', 
                                                         'II.15.2', 'II.15.13'], sep=';', parse_dates=['DATA'])

m2.head()

,IBGE,INE,CNES_FINAL,DATA,II.12.1.7,II.15.2,II.15.13
0,120001,4294,3006166,2018-10-15 21:40:41.803,9997,9997,9997
1,120001,4316,3382745,2017-10-16 11:54:56.667,1,2,1
2,120001,4324,3393984,2017-10-16 11:52:59.062,1,1,1
3,120001,4332,3638685,2017-10-16 11:56:10.811,1,2,1
4,120001,4340,5403669,2017-10-16 11:57:57.439,1,1,2

In [30]:
m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38865 entries, 0 to 38864
Data columns (total 7 columns):
IBGE          38865 non-null int64
INE           38865 non-null int64
CNES_FINAL    38865 non-null object
DATA          38865 non-null datetime64[ns]
II.12.1.7     38865 non-null int64
II.15.2       38865 non-null int64
II.15.13      38865 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.1+ MB

In [31]:
m3 = pd.read_csv('../data/BANCO_PMAQ/M_III.csv', usecols=['IBGE', 'CNES_FINAL', 'INE', 'DATA', 'III.13.7.3'], sep=';', parse_dates=['DATA'])

m3.head()

     IBGE   INE CNES_FINAL                    DATA  III.13.7.3
0  120001  4294    3006166 2017-10-16 11:50:54.137        9997
1  120001  4294    3006166 2017-10-16 11:51:12.654        9997
2  120001  4294    3006166 2017-10-16 11:51:22.096        9997
3  120001  4294    3006166 2017-10-16 11:50:42.849        9997
4  120001  4316    3382745 2017-10-16 11:54:14.817         998

In [32]:
m3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157497 entries, 0 to 157496
Data columns (total 5 columns):
IBGE          157497 non-null int64
INE           157497 non-null int64
CNES_FINAL    157497 non-null object
DATA          157497 non-null datetime64[ns]
III.13.7.3    157497 non-null int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.0+ MB

Com os módulos carregados, vamos filtrar apenas as respostas de Natal

In [33]:
m1_natal = m1.query('IBGE == 240810')

m1_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 22251 to 22292
Data columns (total 6 columns):
IBGE          42 non-null int64
CNES_FINAL    42 non-null object
DATA          42 non-null datetime64[ns]
I.11.1        42 non-null int64
I.15.9.3      42 non-null int64
I.15.9.4      42 non-null int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 2.3+ KB

In [34]:
m2_natal = m2.query('IBGE == 240810')

m2_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 28650 to 28770
Data columns (total 7 columns):
IBGE          121 non-null int64
INE           121 non-null int64
CNES_FINAL    121 non-null object
DATA          121 non-null datetime64[ns]
II.12.1.7     121 non-null int64
II.15.2       121 non-null int64
II.15.13      121 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 7.6+ KB

In [35]:
m3_natal = m3.query('IBGE == 240810')

m3_natal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 115946 to 116440
Data columns (total 5 columns):
IBGE          495 non-null int64
INE           495 non-null int64
CNES_FINAL    495 non-null object
DATA          495 non-null datetime64[ns]
III.13.7.3    495 non-null int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 23.2+ KB

# Agrupamento

Tratar os dados do terceiro ciclo (2016-08-01 a 2018-01-22)

In [36]:
# filtra datas
m1['DATA'] = m1.DATA.dt.tz_localize(None)
m2['DATA'] = m2.DATA.dt.tz_localize(None)
m3['DATA'] = m3.DATA.dt.tz_localize(None)
m1_df = m1.query("'2016-08-01' < DATA < '2018-01-22'")
m2_df = m2.query("'2016-08-01' < DATA < '2018-01-22'")
m3_df = m3.query("'2016-08-01' < DATA < '2018-01-22'")

In [37]:
# Agrupando
df1 = pd.pivot_table(m1_df, index=['I.11.1'], columns=[ 'IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)

df1

       CNES_FINAL                                                          \
IBGE       110001 110002 110003 110004 110005 110006 110007 110008 110009
I.11.1
1               3     10      0      8      3      3      1      1      0
2               0      0      2      0      0      1      1      0      0
9997            0      0      0      0      0      0      0      0      1

               ...                                                            \
IBGE   110010  ...   522160 522170 522180 522185 522190 522200 522205 522220
I.11.1         ...
1           3  ...        0      3      1      4      1      5      2      2
2           0  ...       11      1      0     21      0      0      1      0
9997        0  ...        0      0      0      0      0      0      0      0


IBGE   522230 530010
I.11.1
1           2     66
2           0      4
9997        0      4

[3 rows x 3986 columns]

In [38]:
cols = [['I.11.1', 'I.11.1', 'I.11.1'],
       ['1', '2', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = pd.DataFrame(df1.values, index=index, columns=df1.columns)
df_final

[('I.11.1', '1'), ('I.11.1', '2'), ('I.11.1', '9997')]

            CNES_FINAL                                                   \
IBGE            110001 110002 110003 110004 110005 110006 110007 110008
VAR    CODE
I.11.1 1             3     10      0      8      3      3      1      1
       2             0      0      2      0      0      1      1      0
       9997          0      0      0      0      0      0      0      0

                           ...                                              \
IBGE        110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR    CODE                ...
I.11.1 1         0      3  ...        0      3      1      4      1      5
       2         0      0  ...       11      1      0     21      0      0
       9997      1      0  ...        0      0      0      0      0      0


IBGE        522205 522220 522230 530010
VAR    CODE
I.11.1 1         2      2      2     66
       2         1      0      0      4
       9997      0      0      0      4

[3 rows x 3986 columns]

In [39]:
df2 = pd.pivot_table(m1_df, index=['I.15.9.3'], columns=[ 'IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df2

         CNES_FINAL                                                          \
IBGE         110001 110002 110003 110004 110005 110006 110007 110008 110009
I.15.9.3
1                 0     10      0      1      0      0      0      1      0
2                 0      0      0      7      0      0      1      0      0
998               3      0      2      0      3      4      1      0      0
9997              0      0      0      0      0      0      0      0      1

                 ...                                                     \
IBGE     110010  ...   522160 522170 522180 522185 522190 522200 522205
I.15.9.3         ...
1             1  ...        0      1      0      3      0      3      2
2             0  ...        4      1      0     22      0      2      1
998           2  ...        7      2      1      0      1      0      0
9997          0  ...        0      0      0      0      0      0      0


IBGE     522220 522230 530010
I.15.9.3
1             1      0     38
2             0      0     16
998           1      2     16
9997          0      0      4

[4 rows x 3986 columns]

In [40]:
cols = [['I.15.9.3', 'I.15.9.3', 'I.15.9.3', 'I.15.9.3'],
       ['1', '2', '998', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df2.values, index=index, columns=df2.columns))
df_final

[('I.15.9.3', '1'), ('I.15.9.3', '2'), ('I.15.9.3', '998'), ('I.15.9.3', '9997')]

              CNES_FINAL                                                   \
IBGE              110001 110002 110003 110004 110005 110006 110007 110008
VAR      CODE
I.11.1   1             3     10      0      8      3      3      1      1
         2             0      0      2      0      0      1      1      0
         9997          0      0      0      0      0      0      0      0
I.15.9.3 1             0     10      0      1      0      0      0      1
         2             0      0      0      7      0      0      1      0
         998           3      0      2      0      3      4      1      0
         9997          0      0      0      0      0      0      0      0

                             ...                                              \
IBGE          110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR      CODE                ...
I.11.1   1         0      3  ...        0      3      1      4      1      5
         2         0      0  ...       11      1      0     21      0      0
         9997      1      0  ...        0      0      0      0      0      0
I.15.9.3 1         0      1  ...        0      1      0      3      0      3
         2         0      0  ...        4      1      0     22      0      2
         998       0      2  ...        7      2      1      0      1      0
         9997      1      0  ...        0      0      0      0      0      0


IBGE          522205 522220 522230 530010
VAR      CODE
I.11.1   1         2      2      2     66
         2         1      0      0      4
         9997      0      0      0      4
I.15.9.3 1         2      1      0     38
         2         1      0      0     16
         998       0      1      2     16
         9997      0      0      0      4

[7 rows x 3986 columns]

In [41]:
df3 = pd.pivot_table(m1_df, index=['I.15.9.4'], columns=['IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df3

         CNES_FINAL                                                          \
IBGE         110001 110002 110003 110004 110005 110006 110007 110008 110009
I.15.9.4
1                 0      9      0      1      0      0      0      1      0
2                 0      1      0      7      0      0      1      0      0
998               3      0      2      0      3      4      1      0      0
9997              0      0      0      0      0      0      0      0      1

                 ...                                                     \
IBGE     110010  ...   522160 522170 522180 522185 522190 522200 522205
I.15.9.4         ...
1             1  ...        0      0      0      0      0      0      2
2             0  ...        4      2      0     25      0      5      1
998           2  ...        7      2      1      0      1      0      0
9997          0  ...        0      0      0      0      0      0      0


IBGE     522220 522230 530010
I.15.9.4
1             0      0     15
2             1      0     39
998           1      2     16
9997          0      0      4

[4 rows x 3986 columns]

In [42]:
cols = [['I.15.9.4', 'I.15.9.4', 'I.15.9.4', 'I.15.9.4'],
       ['1', '2', '998', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df3.values, index=index, columns=df3.columns))
df_final

[('I.15.9.4', '1'), ('I.15.9.4', '2'), ('I.15.9.4', '998'), ('I.15.9.4', '9997')]

              CNES_FINAL                                                   \
IBGE              110001 110002 110003 110004 110005 110006 110007 110008
VAR      CODE
I.11.1   1             3     10      0      8      3      3      1      1
         2             0      0      2      0      0      1      1      0
         9997          0      0      0      0      0      0      0      0
I.15.9.3 1             0     10      0      1      0      0      0      1
         2             0      0      0      7      0      0      1      0
         998           3      0      2      0      3      4      1      0
         9997          0      0      0      0      0      0      0      0
I.15.9.4 1             0      9      0      1      0      0      0      1
         2             0      1      0      7      0      0      1      0
         998           3      0      2      0      3      4      1      0
         9997          0      0      0      0      0      0      0      0

                             ...                                              \
IBGE          110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR      CODE                ...
I.11.1   1         0      3  ...        0      3      1      4      1      5
         2         0      0  ...       11      1      0     21      0      0
         9997      1      0  ...        0      0      0      0      0      0
I.15.9.3 1         0      1  ...        0      1      0      3      0      3
         2         0      0  ...        4      1      0     22      0      2
         998       0      2  ...        7      2      1      0      1      0
         9997      1      0  ...        0      0      0      0      0      0
I.15.9.4 1         0      1  ...        0      0      0      0      0      0
         2         0      0  ...        4      2      0     25      0      5
         998       0      2  ...        7      2      1      0      1      0
         9997      1      0  ...        0      0      0      0      0      0


IBGE          522205 522220 522230 530010
VAR      CODE
I.11.1   1         2      2      2     66
         2         1      0      0      4
         9997      0      0      0      4
I.15.9.3 1         2      1      0     38
         2         1      0      0     16
         998       0      1      2     16
         9997      0      0      0      4
I.15.9.4 1         2      0      0     15
         2         1      1      0     39
         998       0      1      2     16
         9997      0      0      0      4

[11 rows x 3986 columns]

In [43]:
# m2: II.12.1.7, II.15.2, II.15.13
df4 = pd.pivot_table(m2_df, index=['II.12.1.7'], columns=['IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df4

          CNES_FINAL                                                          \
IBGE          110001 110002 110003 110004 110005 110006 110007 110008 110009
II.12.1.7
1                  5     16      2     17      3      4      2      1      0
2                  0      0      0      0      0      1      0      0      0
9997               0      0      0      1      0      0      0      0      1

                  ...                                                     \
IBGE      110010  ...   522160 522170 522180 522185 522190 522200 522205
II.12.1.7         ...
1              8  ...       11      5      1     27      1      5      3
2              0  ...        0      0      0      0      0      0      0
9997           0  ...        0      0      0      0      0      0      0


IBGE      522220 522230 530010
II.12.1.7
1              2      2    125
2              0      0      3
9997           0      0      9

[3 rows x 3988 columns]

In [44]:
cols = [['II.12.1.7', 'II.12.1.7', 'II.12.1.7'],
       ['1', '2', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df4.values, index=index, columns=df4.columns))
df_final

[('II.12.1.7', '1'), ('II.12.1.7', '2'), ('II.12.1.7', '9997')]

               CNES_FINAL                                                   \
IBGE               110001 110002 110003 110004 110005 110006 110007 110008
VAR       CODE
I.11.1    1             3     10      0      8      3      3      1      1
          2             0      0      2      0      0      1      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.3  1             0     10      0      1      0      0      0      1
          2             0      0      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.4  1             0      9      0      1      0      0      0      1
          2             0      1      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
II.12.1.7 1             5     16      2     17      3      4      2      1
          2             0      0      0      0      0      1      0      0
          9997          0      0      0      1      0      0      0      0

                              ...                                              \
IBGE           110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR       CODE                ...
I.11.1    1         0      3  ...        0      3      1      4      1      5
          2         0      0  ...       11      1      0     21      0      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.3  1         0      1  ...        0      1      0      3      0      3
          2         0      0  ...        4      1      0     22      0      2
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.4  1         0      1  ...        0      0      0      0      0      0
          2         0      0  ...        4      2      0     25      0      5
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
II.12.1.7 1         0      8  ...       11      5      1     27      1      5
          2         0      0  ...        0      0      0      0      0      0
          9997      1      0  ...        0      0      0      0      0      0


IBGE           522205 522220 522230 530010
VAR       CODE
I.11.1    1         2      2      2     66
          2         1      0      0      4
          9997      0      0      0      4
I.15.9.3  1         2      1      0     38
          2         1      0      0     16
          998       0      1      2     16
          9997      0      0      0      4
I.15.9.4  1         2      0      0     15
          2         1      1      0     39
          998       0      1      2     16
          9997      0      0      0      4
II.12.1.7 1         3      2      2    125
          2         0      0      0      3
          9997      0      0      0      9

[14 rows x 3989 columns]

In [45]:
df_5 = pd.pivot_table(m2_df, index=['II.15.2'], columns=['IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df_5

        CNES_FINAL                                                          \
IBGE        110001 110002 110003 110004 110005 110006 110007 110008 110009
II.15.2
1                4     16      2     17      3      5      2      1      0
2                1      0      0      0      0      0      0      0      0
998              0      0      0      0      0      0      0      0      0
9997             0      0      0      1      0      0      0      0      1

                ...                                                            \
IBGE    110010  ...   522160 522170 522180 522185 522190 522200 522205 522220
II.15.2         ...
1            8  ...       11      4      1     27      1      5      3      2
2            0  ...        0      1      0      0      0      0      0      0
998          0  ...        0      0      0      0      0      0      0      0
9997         0  ...        0      0      0      0      0      0      0      0


IBGE    522230 530010
II.15.2
1            1    112
2            1     16
998          0      0
9997         0      9

[4 rows x 3988 columns]

In [49]:
cols = [['II.15.2', 'II.15.2', 'II.15.2', 'II.15.2'],
       ['1', '2', '998', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df_5.values, index=index, columns=df_5.columns))
df_final

[('II.15.2', '1'), ('II.15.2', '2'), ('II.15.2', '998'), ('II.15.2', '9997')]

               CNES_FINAL                                                   \
IBGE               110001 110002 110003 110004 110005 110006 110007 110008
VAR       CODE
I.11.1    1             3     10      0      8      3      3      1      1
          2             0      0      2      0      0      1      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.3  1             0     10      0      1      0      0      0      1
          2             0      0      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.4  1             0      9      0      1      0      0      0      1
          2             0      1      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
II.12.1.7 1             5     16      2     17      3      4      2      1
          2             0      0      0      0      0      1      0      0
          9997          0      0      0      1      0      0      0      0
II.15.2   1             4     16      2     17      3      5      2      1
          2             1      0      0      0      0      0      0      0
          998           0      0      0      0      0      0      0      0
          9997          0      0      0      1      0      0      0      0

                              ...                                              \
IBGE           110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR       CODE                ...
I.11.1    1         0      3  ...        0      3      1      4      1      5
          2         0      0  ...       11      1      0     21      0      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.3  1         0      1  ...        0      1      0      3      0      3
          2         0      0  ...        4      1      0     22      0      2
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.4  1         0      1  ...        0      0      0      0      0      0
          2         0      0  ...        4      2      0     25      0      5
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
II.12.1.7 1         0      8  ...       11      5      1     27      1      5
          2         0      0  ...        0      0      0      0      0      0
          9997      1      0  ...        0      0      0      0      0      0
II.15.2   1         0      8  ...       11      4      1     27      1      5
          2         0      0  ...        0      1      0      0      0      0
          998       0      0  ...        0      0      0      0      0      0
          9997      1      0  ...        0      0      0      0      0      0


IBGE           522205 522220 522230 530010
VAR       CODE
I.11.1    1         2      2      2     66
          2         1      0      0      4
          9997      0      0      0      4
I.15.9.3  1         2      1      0     38
          2         1      0      0     16
          998       0      1      2     16
          9997      0      0      0      4
I.15.9.4  1         2      0      0     15
          2         1      1      0     39
          998       0      1      2     16
          9997      0      0      0      4
II.12.1.7 1         3      2      2    125
          2         0      0      0      3
          9997      0      0      0      9
II.15.2   1         3      2      1    112
          2         0      0      1     16
          998       0      0      0      0
          9997      0      0      0      9

[18 rows x 3989 columns]

In [50]:
df5 = pd.pivot_table(m2_df, index=['II.15.13'], columns=['IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df5

         CNES_FINAL                                                          \
IBGE         110001 110002 110003 110004 110005 110006 110007 110008 110009
II.15.13
1                 3     16      0      6      0      0      0      1      0
2                 2      0      2     11      3      5      2      0      0
9997              0      0      0      1      0      0      0      0      1

                 ...                                                     \
IBGE     110010  ...   522160 522170 522180 522185 522190 522200 522205
II.15.13         ...
1             6  ...        6      4      1     15      1      5      3
2             2  ...        5      1      0     12      0      0      0
9997          0  ...        0      0      0      0      0      0      0


IBGE     522220 522230 530010
II.15.13
1             1      2    118
2             1      0     10
9997          0      0      9

[3 rows x 3988 columns]

In [51]:
cols = [['II.15.13', 'II.15.13', 'II.15.13'],
       ['1', '2', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df5.values, index=index, columns=df5.columns))
df_final

[('II.15.13', '1'), ('II.15.13', '2'), ('II.15.13', '9997')]

               CNES_FINAL                                                   \
IBGE               110001 110002 110003 110004 110005 110006 110007 110008
VAR       CODE
I.11.1    1             3     10      0      8      3      3      1      1
          2             0      0      2      0      0      1      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.3  1             0     10      0      1      0      0      0      1
          2             0      0      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
I.15.9.4  1             0      9      0      1      0      0      0      1
          2             0      1      0      7      0      0      1      0
          998           3      0      2      0      3      4      1      0
          9997          0      0      0      0      0      0      0      0
II.12.1.7 1             5     16      2     17      3      4      2      1
          2             0      0      0      0      0      1      0      0
          9997          0      0      0      1      0      0      0      0
II.15.2   1             4     16      2     17      3      5      2      1
          2             1      0      0      0      0      0      0      0
          998           0      0      0      0      0      0      0      0
          9997          0      0      0      1      0      0      0      0
II.15.13  1             3     16      0      6      0      0      0      1
          2             2      0      2     11      3      5      2      0
          9997          0      0      0      1      0      0      0      0

                              ...                                              \
IBGE           110009 110010  ...   522160 522170 522180 522185 522190 522200
VAR       CODE                ...
I.11.1    1         0      3  ...        0      3      1      4      1      5
          2         0      0  ...       11      1      0     21      0      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.3  1         0      1  ...        0      1      0      3      0      3
          2         0      0  ...        4      1      0     22      0      2
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
I.15.9.4  1         0      1  ...        0      0      0      0      0      0
          2         0      0  ...        4      2      0     25      0      5
          998       0      2  ...        7      2      1      0      1      0
          9997      1      0  ...        0      0      0      0      0      0
II.12.1.7 1         0      8  ...       11      5      1     27      1      5
          2         0      0  ...        0      0      0      0      0      0
          9997      1      0  ...        0      0      0      0      0      0
II.15.2   1         0      8  ...       11      4      1     27      1      5
          2         0      0  ...        0      1      0      0      0      0
          998       0      0  ...        0      0      0      0      0      0
          9997      1      0  ...        0      0      0      0      0      0
II.15.13  1         0      6  ...        6      4      1     15      1      5
          2         0      2  ...        5      1      0     12      0      0
          9997      1      0  ...        0      0      0      0      0      0


IBGE           522205 522220 522230 530010
VAR       CODE
I.11.1    1         2      2      2     66
          2         1      0      0      4
          9997      0      0      0      4
I.15.9.3  1         2      1      0     38
          2         1      0      0     16
          998       0      1      2     16
          9997      0      0      0      4
I.15.9.4  1         2      0      0     15
          2         1      1      0     39
          998       0      1      2     16
          9997      0      0      0      4
II.12.1.7 1         3      2      2    125
          2         0      0      0      3
          9997      0      0      0      9
II.15.2   1         3      2      1    112
          2         0      0      1     16
          998       0      0      0      0
          9997      0      0      0      9
II.15.13  1         3      1      2    118
          2         0      1      0     10
          9997      0      0      0      9

[21 rows x 3989 columns]

In [52]:
#m3: III.13.7.3
df6 = pd.pivot_table(m3_df, index=['III.13.7.3'], columns=['IBGE'], values=['CNES_FINAL'],
               aggfunc='count', fill_value=0)
df6

           CNES_FINAL                                                          \
IBGE           110001 110002 110003 110004 110005 110006 110007 110008 110009
III.13.7.3
1                   7     19      2     28      4      5      6      2      0
2                   0      1      0      0      1      0      0      0      0
998                13     42      3     35      6     16      6      3      0
9997                0      2      3      9      1      3      0      0      4

                   ...                                                     \
IBGE       110010  ...   522160 522170 522180 522185 522190 522200 522205
III.13.7.3         ...
1               1  ...        5      0      0     20      0      0      3
2               0  ...        0      0      0      2      0      0      0
998            11  ...       39     16      4     84      4     20      9
9997           22  ...        0      4      0      2      0      0      0


IBGE       522220 522230 530010
III.13.7.3
1               1      0    108
2               0      0      2
998             7      8    418
9997            0      0     15

[4 rows x 3990 columns]

In [53]:
cols = [['III.13.7.3', 'III.13.7.3', 'III.13.7.3', 'III.13.7.3'],
       ['1', '2', '998', '9997']]
tuples = list(zip(*cols))
print(tuples)
index = pd.MultiIndex.from_tuples(tuples, names=['VAR', 'CODE'])
df_final = df_final.append(pd.DataFrame(df6.values, index=index, columns=df6.columns))
df_final

[('III.13.7.3', '1'), ('III.13.7.3', '2'), ('III.13.7.3', '998'), ('III.13.7.3', '9997')]

                CNES_FINAL                                                   \
IBGE                110001 110002 110003 110004 110005 110006 110007 110008
VAR        CODE
I.11.1     1             3     10      0      8      3      3      1      1
           2             0      0      2      0      0      1      1      0
           9997          0      0      0      0      0      0      0      0
I.15.9.3   1             0     10      0      1      0      0      0      1
           2             0      0      0      7      0      0      1      0
           998           3      0      2      0      3      4      1      0
           9997          0      0      0      0      0      0      0      0
I.15.9.4   1             0      9      0      1      0      0      0      1
           2             0      1      0      7      0      0      1      0
           998           3      0      2      0      3      4      1      0
           9997          0      0      0      0      0      0      0      0
II.12.1.7  1             5     16      2     17      3      4      2      1
           2             0      0      0      0      0      1      0      0
           9997          0      0      0      1      0      0      0      0
II.15.2    1             4     16      2     17      3      5      2      1
           2             1      0      0      0      0      0      0      0
           998           0      0      0      0      0      0      0      0
           9997          0      0      0      1      0      0      0      0
II.15.13   1             3     16      0      6      0      0      0      1
           2             2      0      2     11      3      5      2      0
           9997          0      0      0      1      0      0      0      0
III.13.7.3 1             7     19      2     28      4      5      6      2
           2             0      1      0      0      1      0      0      0
           998          13     42      3     35      6     16      6      3
           9997          0      2      3      9      1      3      0      0

                               ...                                       \
IBGE            110009 110010  ...   522160 522170 522180 522185 522190
VAR        CODE                ...
I.11.1     1         0      3  ...        0      3      1      4      1
           2         0      0  ...       11      1      0     21      0
           9997      1      0  ...        0      0      0      0      0
I.15.9.3   1         0      1  ...        0      1      0      3      0
           2         0      0  ...        4      1      0     22      0
           998       0      2  ...        7      2      1      0      1
           9997      1      0  ...        0      0      0      0      0
I.15.9.4   1         0      1  ...        0      0      0      0      0
           2         0      0  ...        4      2      0     25      0
           998       0      2  ...        7      2      1      0      1
           9997      1      0  ...        0      0      0      0      0
II.12.1.7  1         0      8  ...       11      5      1     27      1
           2         0      0  ...        0      0      0      0      0
           9997      1      0  ...        0      0      0      0      0
II.15.2    1         0      8  ...       11      4      1     27      1
           2         0      0  ...        0      1      0      0      0
           998       0      0  ...        0      0      0      0      0
           9997      1      0  ...        0      0      0      0      0
II.15.13   1         0      6  ...        6      4      1     15      1
           2         0      2  ...        5      1      0     12      0
           9997      1      0  ...        0      0      0      0      0
III.13.7.3 1         0      1  ...        5      0      0     20      0
           2         0      0  ...        0      0      0      2      0
           998       0     11  ...       39     16      4     84      4
           9997      4     22  ...        0      4      0      2      0


IBGE            522200 522205 522220 522230 530010
VAR        CODE
I.11.1     1         5      2      2      2     66
           2         0      1      0      0      4
           9997      0      0      0      0      4
I.15.9.3   1         3      2      1      0     38
           2         2      1      0      0     16
           998       0      0      1      2     16
           9997      0      0      0      0      4
I.15.9.4   1         0      2      0      0     15
           2         5      1      1      0     39
           998       0      0      1      2     16
           9997      0      0      0      0      4
II.12.1.7  1         5      3      2      2    125
           2         0      0      0      0      3
           9997      0      0      0      0      9
II.15.2    1         5      3      2      1    112
           2         0      0      0      1     16
           998       0      0      0      0      0
           9997      0      0      0      0      9
II.15.13   1         5      3      1      2    118
           2         0      0      1      0     10
           9997      0      0      0      0      9
III.13.7.3 1         0      3      1      0    108
           2         0      0      0      0      2
           998      20      9      7      8    418
           9997      0      0      0      0     15

[25 rows x 3990 columns]

In [54]:
df_final.transpose()

VAR               I.11.1             I.15.9.3                   I.15.9.4  \
CODE                   1     2  9997        1     2   998  9997        1
           IBGE
CNES_FINAL 110001    3.0   0.0   0.0      0.0   0.0   3.0   0.0      0.0
           110002   10.0   0.0   0.0     10.0   0.0   0.0   0.0      9.0
           110003    0.0   2.0   0.0      0.0   0.0   2.0   0.0      0.0
           110004    8.0   0.0   0.0      1.0   7.0   0.0   0.0      1.0
           110005    3.0   0.0   0.0      0.0   0.0   3.0   0.0      0.0
           110006    3.0   1.0   0.0      0.0   0.0   4.0   0.0      0.0
           110007    1.0   1.0   0.0      0.0   1.0   1.0   0.0      0.0
           110008    1.0   0.0   0.0      1.0   0.0   0.0   0.0      1.0
           110009    0.0   0.0   1.0      0.0   0.0   0.0   1.0      0.0
           110010    3.0   0.0   0.0      1.0   0.0   2.0   0.0      1.0
           110011    6.0   0.0   1.0      0.0   1.0   5.0   1.0      0.0
           110012   12.0   0.0   0.0      5.0   0.0   7.0   0.0      5.0
           110013    5.0   1.0   0.0      0.0   0.0   6.0   0.0      0.0
           110014    4.0   0.0   0.0      0.0   0.0   4.0   0.0      0.0
           110018    5.0   0.0   0.0      0.0   0.0   5.0   0.0      0.0
           110020   19.0   4.0  12.0     19.0   4.0   0.0  12.0     10.0
           110025    6.0   1.0   0.0      4.0   2.0   1.0   0.0      3.0
           110026    1.0   0.0   0.0      0.0   1.0   0.0   0.0      0.0
           110028    8.0   0.0   2.0      0.0   0.0   8.0   2.0      0.0
           110029    2.0   0.0   0.0      0.0   0.0   2.0   0.0      0.0
           110030    7.0   0.0   3.0      0.0   0.0   7.0   3.0      0.0
           110032    2.0   0.0   0.0      1.0   0.0   1.0   0.0      0.0
           110033    4.0   0.0   1.0      4.0   0.0   0.0   1.0      4.0
           110034    3.0   0.0   0.0      0.0   0.0   3.0   0.0      0.0
           110037    4.0   1.0   0.0      2.0   1.0   2.0   0.0      0.0
           110040    3.0   0.0   0.0      0.0   0.0   3.0   0.0      0.0
           110045    3.0   0.0   0.0      0.0   0.0   3.0   0.0      0.0
           110050    2.0   0.0   0.0      1.0   1.0   0.0   0.0      1.0
           110060    1.0   1.0   0.0      1.0   1.0   0.0   0.0      0.0
           110070    3.0   1.0   0.0      0.0   4.0   0.0   0.0      0.0
...                  ...   ...   ...      ...   ...   ...   ...      ...
           522010    8.0   0.0   0.0      0.0   8.0   0.0   0.0      0.0
           522015    0.0   1.0   0.0      0.0   1.0   0.0   0.0      0.0
           522020    0.0   6.0   0.0      1.0   0.0   5.0   0.0      1.0
           522026    0.0   1.0   1.0      0.0   0.0   1.0   1.0      0.0
           522028    0.0   1.0   0.0      0.0   1.0   0.0   0.0      0.0
           522040    5.0   0.0   0.0      0.0   1.0   4.0   0.0      0.0
           522045   19.0   1.0   0.0      1.0   1.0  18.0   0.0      1.0
           522050    2.0   0.0   0.0      1.0   1.0   0.0   0.0      0.0
           522060    7.0   0.0   1.0      0.0   0.0   7.0   1.0      0.0
           522068    1.0   1.0   0.0      0.0   0.0   2.0   0.0      0.0
           522070    1.0   0.0   0.0      1.0   0.0   0.0   0.0      1.0
           522100    0.0   1.0   0.0      0.0   1.0   0.0   0.0      0.0
           522108    1.0   0.0   0.0      1.0   0.0   0.0   0.0      0.0
           522119    1.0   0.0   0.0      1.0   0.0   0.0   0.0      1.0
           522130    1.0   0.0   0.0      0.0   0.0   1.0   0.0      0.0
           522140   24.0   0.0   6.0     24.0   0.0   0.0   6.0     14.0
           522145    2.0   0.0   0.0      0.0   2.0   0.0   0.0      0.0
           522150    2.0   0.0   0.0      2.0   0.0   0.0   0.0      1.0
           522155    1.0   0.0   0.0      1.0   0.0   0.0   0.0      1.0
           522157    1.0   0.0   0.0      1.0   0.0   0.0   0.0      0.0
           522160    0.0  11.0   0.0      0.0   4.0   7.0   0.0      0.0
           522170    3.0   1.0   0.0      1.0   1.0   2.0   0.0      0.0
           522180    1.0   0.0   0.0      0.0   0.0   1.0   0.0      0.0
           522185    4.0  21.0   0.0      3.0  22.0   0.0   0.0      0.0
           522190    1.0   0.0   0.0      0.0   0.0   1.0   0.0      0.0
           522200    5.0   0.0   0.0      3.0   2.0   0.0   0.0      0.0
           522205    2.0   1.0   0.0      2.0   1.0   0.0   0.0      2.0
           522220    2.0   0.0   0.0      1.0   0.0   1.0   0.0      0.0
           522230    2.0   0.0   0.0      0.0   0.0   2.0   0.0      0.0
           530010   66.0   4.0   4.0     38.0  16.0  16.0   4.0     15.0

VAR                            ...   II.15.2            II.15.13              \
CODE                  2   998  ...         2  998  9997        1     2  9997
           IBGE                ...
CNES_FINAL 110001   0.0   3.0  ...       1.0  0.0   0.0      3.0   2.0   0.0
           110002   1.0   0.0  ...       0.0  0.0   0.0     16.0   0.0   0.0
           110003   0.0   2.0  ...       0.0  0.0   0.0      0.0   2.0   0.0
           110004   7.0   0.0  ...       0.0  0.0   1.0      6.0  11.0   1.0
           110005   0.0   3.0  ...       0.0  0.0   0.0      0.0   3.0   0.0
           110006   0.0   4.0  ...       0.0  0.0   0.0      0.0   5.0   0.0
           110007   1.0   1.0  ...       0.0  0.0   0.0      0.0   2.0   0.0
           110008   0.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           110009   0.0   0.0  ...       0.0  0.0   1.0      0.0   0.0   1.0
           110010   0.0   2.0  ...       0.0  0.0   0.0      6.0   2.0   0.0
           110011   1.0   5.0  ...       0.0  0.0   1.0      8.0   0.0   1.0
           110012   0.0   7.0  ...       0.0  0.0   0.0     23.0   3.0   0.0
           110013   0.0   6.0  ...       1.0  0.0   0.0      1.0   6.0   0.0
           110014   0.0   4.0  ...       1.0  0.0   0.0      1.0   4.0   0.0
           110018   0.0   5.0  ...       1.0  0.0   1.0      5.0   2.0   1.0
           110020  13.0   0.0  ...       1.0  0.0  44.0     36.0   0.0  44.0
           110025   3.0   1.0  ...       0.0  0.0   0.0      7.0   0.0   0.0
           110026   1.0   0.0  ...       0.0  0.0   0.0      0.0   2.0   0.0
           110028   0.0   8.0  ...       1.0  0.0   0.0      5.0   5.0   0.0
           110029   0.0   2.0  ...       0.0  0.0   0.0      2.0   2.0   0.0
           110030   0.0   7.0  ...       0.0  0.0   8.0      7.0  17.0   8.0
           110032   1.0   1.0  ...       0.0  0.0   0.0      2.0   0.0   0.0
           110033   0.0   0.0  ...       0.0  0.0   1.0      4.0   1.0   1.0
           110034   0.0   3.0  ...       0.0  0.0   0.0      2.0   1.0   0.0
           110037   3.0   2.0  ...       0.0  0.0   0.0      1.0   4.0   0.0
           110040   0.0   3.0  ...       0.0  0.0   0.0      0.0   5.0   0.0
           110045   0.0   3.0  ...       0.0  0.0   0.0      4.0   1.0   0.0
           110050   1.0   0.0  ...       0.0  1.0   0.0      1.0   2.0   0.0
           110060   2.0   0.0  ...       0.0  1.0   0.0      1.0   1.0   0.0
           110070   4.0   0.0  ...       0.0  0.0   0.0      2.0   2.0   0.0
...                 ...   ...  ...       ...  ...   ...      ...   ...   ...
           522010   8.0   0.0  ...       0.0  0.0   0.0      8.0   0.0   0.0
           522015   1.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522020   0.0   5.0  ...       0.0  0.0   0.0      5.0   2.0   0.0
           522026   0.0   1.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522028   1.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522040   1.0   4.0  ...       1.0  0.0   0.0      3.0   2.0   0.0
           522045   1.0  18.0  ...       0.0  0.0   0.0     31.0   0.0   0.0
           522050   2.0   0.0  ...       0.0  0.0   0.0      2.0   0.0   0.0
           522060   0.0   7.0  ...       0.0  0.0   0.0      6.0   1.0   0.0
           522068   0.0   2.0  ...       1.0  0.0   0.0      2.0   0.0   0.0
           522070   0.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522100   1.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522108   1.0   0.0  ...       0.0  0.0   0.0      2.0   0.0   0.0
           522119   0.0   0.0  ...       0.0  0.0   0.0      2.0   0.0   0.0
           522130   0.0   1.0  ...       0.0  0.0   0.0      0.0   1.0   0.0
           522140  10.0   0.0  ...       1.0  0.0   0.0     26.0   0.0   0.0
           522145   2.0   0.0  ...       0.0  0.0   0.0      1.0   1.0   0.0
           522150   1.0   0.0  ...       0.0  0.0   0.0      2.0   0.0   0.0
           522155   0.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522157   1.0   0.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522160   4.0   7.0  ...       0.0  0.0   0.0      6.0   5.0   0.0
           522170   2.0   2.0  ...       1.0  0.0   0.0      4.0   1.0   0.0
           522180   0.0   1.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522185  25.0   0.0  ...       0.0  0.0   0.0     15.0  12.0   0.0
           522190   0.0   1.0  ...       0.0  0.0   0.0      1.0   0.0   0.0
           522200   5.0   0.0  ...       0.0  0.0   0.0      5.0   0.0   0.0
           522205   1.0   0.0  ...       0.0  0.0   0.0      3.0   0.0   0.0
           522220   1.0   1.0  ...       0.0  0.0   0.0      1.0   1.0   0.0
           522230   0.0   2.0  ...       1.0  0.0   0.0      2.0   0.0   0.0
           530010  39.0  16.0  ...      16.0  0.0   9.0    118.0  10.0   9.0

VAR               III.13.7.3
CODE                       1    2    998   9997
           IBGE
CNES_FINAL 110001        7.0  0.0   13.0    0.0
           110002       19.0  1.0   42.0    2.0
           110003        2.0  0.0    3.0    3.0
           110004       28.0  0.0   35.0    9.0
           110005        4.0  1.0    6.0    1.0
           110006        5.0  0.0   16.0    3.0
           110007        6.0  0.0    6.0    0.0
           110008        2.0  0.0    3.0    0.0
           110009        0.0  0.0    0.0    4.0
           110010        1.0  0.0   11.0   22.0
           110011       13.0  1.0   19.0    4.0
           110012       14.0  1.0   72.0   17.0
           110013       13.0  2.0   16.0    0.0
           110014        8.0  0.0   11.0    1.0
           110018       12.0  0.0   14.0    6.0
           110020       33.0  1.0  114.0  179.0
           110025       13.0  0.0   15.0    0.0
           110026        1.0  0.0    5.0    2.0
           110028       11.0  0.0   16.0   17.0
           110029        0.0  0.0   14.0    2.0
           110030       35.0  0.0   52.0   40.0
           110032        1.0  0.0    7.0    0.0
           110033        1.0  0.0   14.0    9.0
           110034        4.0  0.0    8.0    0.0
           110037        2.0  0.0   16.0    2.0
           110040        7.0  1.0   12.0    0.0
           110045        6.0  0.0   14.0    0.0
           110050        6.0  0.0    6.0    0.0
           110060        2.0  0.0    5.0    1.0
           110070        4.0  0.0   13.0    0.0
...                      ...  ...    ...    ...
           522010        0.0  0.0    5.0   26.0
           522015        0.0  0.0    8.0    0.0
           522020        4.0  0.0   24.0    0.0
           522026        1.0  0.0    7.0    0.0
           522028        1.0  0.0    3.0    0.0
           522040        0.0  0.0   20.0    0.0
           522045        9.0  1.0  114.0    0.0
           522050        1.0  0.0    7.0    0.0
           522060        2.0  0.0   30.0    0.0
           522068        0.0  0.0    8.0    0.0
           522070        0.0  0.0    4.0    0.0
           522100        0.0  0.0    4.0    0.0
           522108        1.0  0.0    7.0    0.0
           522119        2.0  0.0    7.0    0.0
           522130        0.0  0.0    3.0    1.0
           522140       10.0  0.0  111.0    0.0
           522145        0.0  0.0    8.0    0.0
           522150        0.0  0.0    5.0    4.0
           522155        1.0  0.0    3.0    0.0
           522157        0.0  0.0    4.0    0.0
           522160        5.0  0.0   39.0    0.0
           522170        0.0  0.0   16.0    4.0
           522180        0.0  0.0    4.0    0.0
           522185       20.0  2.0   84.0    2.0
           522190        0.0  0.0    4.0    0.0
           522200        0.0  0.0   20.0    0.0
           522205        3.0  0.0    9.0    0.0
           522220        1.0  0.0    7.0    0.0
           522230        0.0  0.0    8.0    0.0
           530010      108.0  2.0  418.0   15.0

[3990 rows x 25 columns]

In [55]:
df_final.transpose().to_csv('../data/pmaq_ibge.csv') # salvando CSV

In [56]:
len(set(m1_df.IBGE.unique()).union(set(m2_df.IBGE.unique())).union(set(m3_df.IBGE.unique())))

3990