## Cleaning

In [2]:
# imports 
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
df = pd.read_csv('../../data/SINAN/SifCongenita_2007_2017_Long.csv', sep=';')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df['MUNRES'] = pd.to_numeric(df['MUNRES'], errors='coerce')
df.loc[df['MUNRES'] == 240810]

,ctrlsifcn,DT_DIAG,DT_NOT,DT_NASC,UFRES,RACA,ANODIAG,ANONOT,SEXO,ESQTT_MAE,DIAG_FINAL,PRE_NATAL,PARCTRAT,ESC_MAE,IDADE_CRI,MOM_DIAG,ID_MAE,FXET_MAE,MUNRES
337,378,1/22/2007,1/23/2007,1/22/2007,24,4,2007,2007,1,2,1,1,9,2,1,2,18,2,240810.0
429,475,1/28/2007,1/29/2007,1/28/2007,24,4,2007,2007,2,2,1,2,2,4,1,2,31,4,240810.0
790,856,2/21/2007,2/23/2007,2/21/2007,24,4,2007,2007,1,3,1,1,2,2,1,2,23,3,240810.0
814,883,2/23/2007,2/23/2007,2/23/2007,24,1,2007,2007,1,9,4,1,9,99,1,2,35,4,240810.0
867,939,2/26/2007,3/2/2007,2/26/2007,24,2,2007,2007,1,2,1,1,1,3,1,1,32,4,240810.0
880,952,2/27/2007,2/27/2007,2/27/2007,24,9,2007,2007,2,2,1,1,2,4,1,1,32,4,240810.0
918,992,2/28/2007,6/22/2007,2/28/2007,24,4,2007,2007,2,2,1,1,2,2,1,9,26,3,240810.0
955,1030,3/2/2007,3/5/2007,3/2/2007,24,1,2007,2007,2,2,1,2,2,0,1,2,32,4,240810.0
978,1053,3/3/2007,3/15/2007,3/3/2007,24,4,2007,2007,1,2,1,1,2,4,1,1,21,3,240810.0
1046,1127,3/8/2007,3/8/2007,3/8/2007,24,1,2007,2007,2,9,1,1,2,4,1,2,25,3,240810.0
1108,1192,3/12/2007,3/12/2007,3/12/2007,24,1,2007,2007,2,1,4,1,1,1,1,2,34,4,240810.0
1120,1204,3/12/2007,3/14/2007,3/12/2007,24,1,2007,2007,1,2,1,1,2,2,1,1,29,3,240810.0
1265,1368,3/23/2007,3/23/2007,3/23/2007,24,1,2007,2007,2,3,1,2,2,2,1,2,33,4,240810.0
1266,1369,3/23/2007,3/23/2007,3/23/2007,24,1,2007,2007,1,2,1,1,2,3,1,1,16,2,240810.0
1337,1451,3/28/2007,3/29/2007,3/28/2007,24,4,2007,2007,2,2,1,2,2,3,1,2,23,3,240810.0
1353,1467,3/29/2007,3/29/2007,3/29/2007,24,4,2007,2007,2,1,1,1,1,99,1,1,14,1,240810.0
1409,1526,4/1/2007,4/1/2007,4/1/2007,24,4,2007,2007,2,1,1,1,1,1,1,1,29,3,240810.0
1590,1711,4/10/2007,4/19/2007,4/10/2007,24,9,2007,2007,1,2,1,1,9,2,1,1,22,3,240810.0
1601,1723,4/11/2007,4/13/2007,4/11/2007,24,1,2007,2007,1,9,4,1,9,3,1,2,14,1,240810.0
1643,1768,4/13/2007,5/5/2007,4/11/2007,24,1,2007,2007,1,2,1,1,2,3,1,2,14,1,240810.0
1687,1814,4/16/2007,4/19/2007,4/13/2007,24,4,2007,2007,1,2,1,1,9,2,1,2,21,3,240810.0
1807,1939,4/24/2007,4/24/2007,4/24/2007,24,4,2007,2007,2,2,1,2,2,1,1,2,38,4,240810.0
1812,1944,4/24/2007,4/25/2007,4/24/2007,24,3,2007,2007,2,2,1,2,2,1,1,2,38,4,240810.0
2347,2502,5/28/2007,5/28/2007,5/28/2007,24,1,2007,2007,1,2,1,2,2,3,1,9,28,3,240810.0
2356,2511,5/28/2007,6/2/2007,5/28/2007,24,1,2007,2007,1,2,1,1,1,1,1,2,18,2,240810.0
2360,2515,5/28/2007,6/10/2007,5/28/2007,24,1,2007,2007,1,2,1,2,2,99,1,2,20,3,240810.0
2376,2532,5/29/2007,5/29/2007,5/29/2007,24,1,2007,2007,1,2,1,9,9,10,1,9,26,3,240810.0
2432,2588,6/1/2007,6/1/2007,6/1/2007,24,4,2007,2007,2,2,1,1,9,10,1,2,36,4,240810.0
2584,2749,6/10/2007,6/13/2007,6/10/2007,24,4,2007,2007,2,2,1,1,1,3,1,1,26,3,240810.0
2671,2841,6/16/2007,6/16/2007,6/16/2007,24,1,2007,2007,9,2,1,1,2,1,1,1,31,4,240810.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119288,00141041,2/27/2017,3/23/2017,2/27/2017,24,1,2017,2017,2,2,1,1,2,5,1,1,20,3,240810.0
119474,00141293,3/3/2017,3/3/2017,3/2/2017,24,4,2017,2017,2,2,1,1,1,1,1,1,36,4,240810.0
119613,00141474,3/5/2017,3/23/2017,3/5/2017,24,4,2017,2017,2,2,1,1,2,6,1,1,32,4,240810.0
119666,00141543,3/6/2017,3/8/2017,3/6/2017,24,4,2017,2017,1,2,1,1,2,3,1,1,22,3,240810.0
119718,00141617,3/7/2017,3/8/2017,3/7/2017,24,4,2017,2017,1,2,1,1,2,1,1,1,36,4,240810.0
119864,00141805,3/9/2017,3/13/2017,3/8/2017,24,4,2017,2017,1,3,1,2,9,99,1,3,24,3,240810.0
120023,00142013,3/12/2017,3/13/2017,3/11/2017,24,1,2017,2017,2,2,1,1,9,3,1,1,27,3,240810.0
120342,00142439,3/17/2017,3/20/2017,3/17/2017,24,4,2017,2017,2,2,1,1,9,99,1,1,33,4,240810.0
120373,00142475,3/17/2017,4/6/2017,3/17/2017,24,2,2017,2017,1,2,1,1,9,4,1,9,23,3,240810.0
120401,00142512,3/18/2017,3/20/2017,3/18/2017,24,4,2017,2017,1,2,1,1,2,99,1,1,17,2,240810.0
120439,00142565,3/19/2017,3/20/2017,3/18/2017,24,4,2017,2017,2,2,1,1,2,5,1,1,25,3,240810.0
120521,00142668,3/20/2017,3/23/2017,3/20/2017,24,4,2017,2017,1,2,1,1,2,1,1,1,14,1,240810.0
120586,00142749,3/21/2017,3/23/2017,3/21/2017,24,4,2017,2017,2,2,1,1,9,3,1,1,16,2,240810.0
120604,00142771,3/21/2017,4/5/2017,3/21/2017,24,9,2017,2017,2,2,1,1,9,99,1,1,16,2,240810.0
120605,00142772,3/21/2017,4/6/2017,3/21/2017,24,4,2017,2017,2,2,1,1,9,5,1,1,29,3,240810.0
120776,00143013,3/24/2017,3/28/2017,3/24/2017,24,4,2017,2017,1,2,1,1,2,6,1,2,34,4,240810.0
120957,00143253,3/27/2017,5/3/2017,3/27/2017,24,9,2017,2017,2,2,1,2,2,99,1,2,32,4,240810.0
121016,00143335,3/28/2017,5/9/2017,3/28/2017,24,4,2017,2017,1,9,1,1,1,99,1,1,18,2,240810.0
121036,00143363,3/29/2017,3/30/2017,3/29/2017,24,4,2017,2017,2,9,1,9,9,99,1,9,31,4,240810.0
121041,00143368,3/29/2017,3/30/2017,3/29/2017,24,4,2017,2017,2,3,1,1,2,5,1,2,24,3,240810.0
121808,00144431,4/11/2017,5/10/2017,4/11/2017,24,1,2017,2017,2,9,1,1,9,99,1,9,35,4,240810.0
121972,00144640,4/15/2017,4/15/2017,4/15/2017,24,4,2017,2017,1,3,1,1,2,6,1,1,22,3,240810.0
122027,00144711,4/15/2017,5/15/2017,4/15/2017,24,4,2017,2017,2,3,1,1,9,3,1,2,25,3,240810.0
122074,00144783,4/16/2017,5/9/2017,4/16/2017,24,1,2017,2017,1,2,1,1,9,3,1,1,19,2,240810.0
122295,00145086,4/20/2017,4/27/2017,4/20/2017,24,4,2017,2017,2,2,1,1,2,3,1,1,16,2,240810.0
122388,00145213,4/22/2017,5/10/2017,4/21/2017,24,9,2017,2017,2,9,1,1,2,99,1,1,25,3,240810.0
122410,00145242,4/23/2017,4/24/2017,4/23/2017,24,4,2017,2017,1,2,1,1,9,3,1,2,19,2,240810.0
122433,00145269,4/23/2017,4/27/2017,4/23/2017,24,1,2017,2017,2,2,1,1,2,5,1,1,31,4,240810.0
122650,00145551,4/27/2017,5/15/2017,4/27/2017,24,4,2017,2017,2,3,1,1,9,3,1,1,20,3,240810.0
123980,00147316,5/28/2017,5/31/2017,5/27/2017,24,4,2017,2017,2,2,1,1,9,4,1,1,17,2,240810.0

In [5]:
# remove irrelevant columns
df_clean = df.drop(labels=['UFRES', 'IDADE_CRI', 'FXET_MAE', 'ctrlsifcn'], axis='columns')

In [6]:
# change empty string to missing values
df_clean.replace('\s+', np.nan, regex=True, inplace=True)

In [7]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125136 entries, 0 to 125135
Data columns (total 15 columns):
DT_DIAG       125136 non-null object
DT_NOT        125136 non-null object
DT_NASC       125135 non-null object
RACA          125136 non-null int64
ANODIAG       125136 non-null int64
ANONOT        125136 non-null int64
SEXO          125136 non-null int64
ESQTT_MAE     125136 non-null int64
DIAG_FINAL    125136 non-null int64
PRE_NATAL     125136 non-null int64
PARCTRAT      125136 non-null int64
ESC_MAE       125136 non-null int64
MOM_DIAG      125136 non-null int64
ID_MAE        125136 non-null int64
MUNRES        125102 non-null float64
dtypes: float64(1), int64(11), object(3)
memory usage: 14.3+ MB

Before taking the last steps of preprocessing, we need to erase the nan values. Otherwise the methods of conversion and labeling won't work.

In [8]:
# convert columns that are numeric but have string values
not_categorical = [
    'RACA', 'ESQTT_MAE', 'DIAG_FINAL', 'PRE_NATAL', 
    'PARCTRAT', 'ESC_MAE', 'MOM_DIAG', 'ID_MAE', 
    'MUNRES'
]

df_clean.dropna(inplace=True, axis='rows', subset=not_categorical)

df_clean.loc[:,not_categorical] = df_clean.loc[:,not_categorical].astype('int64')

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125102 entries, 0 to 125135
Data columns (total 15 columns):
DT_DIAG       125102 non-null object
DT_NOT        125102 non-null object
DT_NASC       125101 non-null object
RACA          125102 non-null int64
ANODIAG       125102 non-null int64
ANONOT        125102 non-null int64
SEXO          125102 non-null int64
ESQTT_MAE     125102 non-null int64
DIAG_FINAL    125102 non-null int64
PRE_NATAL     125102 non-null int64
PARCTRAT      125102 non-null int64
ESC_MAE       125102 non-null int64
MOM_DIAG      125102 non-null int64
ID_MAE        125102 non-null int64
MUNRES        125102 non-null int64
dtypes: int64(12), object(3)
memory usage: 15.3+ MB

In [10]:
# test select columns by type
df_clean.select_dtypes(include='object').columns

Index(['DT_DIAG', 'DT_NOT', 'DT_NASC'], dtype='object')

In [11]:
df_clean['DT_NASC']

0          1/29/1999
1          5/12/2001
2           6/2/2003
3          3/19/2004
4          6/13/2005
5          3/30/2004
6           2/3/2006
7          3/22/2006
8          4/10/2006
9          4/24/2006
10         5/13/2006
11          6/8/2006
12         7/21/2006
13         8/20/2006
14         8/24/2006
15         8/31/2006
16         9/25/2006
17         9/29/2006
18         9/30/2006
19         10/4/2006
20        10/15/2006
21        10/18/2006
22        10/19/2006
23        10/18/2006
24        10/22/2006
25        10/30/2006
26         11/1/2006
27         2/23/2007
28        11/10/2006
29        11/17/2006
             ...
125106     4/15/2017
125107     12/5/2017
125108     12/5/2017
125109     5/28/2017
125110     5/28/2017
125111     6/21/2017
125112     6/28/2017
125113     1/25/2017
125114     1/24/2017
125115     1/18/2017
125116     2/20/2017
125117     2/18/2017
125118     2/20/2011
125119     2/15/2017
125120     2/22/2017
125121     6/16/2017
125122      3/4/2017
125123      5/5/2017
125124     5/18/2017
125125      1/5/2017
125126     5/29/2017
125127     5/22/2017
125128     4/28/2017
125129     11/5/2017
125130     3/28/2017
125131     3/30/2017
125132     6/28/2017
125133     6/23/2017
125134      6/8/2017
125135      4/8/2017
Name: DT_NASC, Length: 125102, dtype: object

In [12]:
categorical = df_clean.select_dtypes(include='object').columns
df_clean[categorical].fillna(' ', inplace=True)

for category in categorical:
    label_enc = LabelEncoder()
    print(category)
    print(df_clean[category])
    labels = label_enc.fit_transform(df_clean[category].astype(str))
    df_clean[category] = labels

DT_DIAG
0          1/29/1999
1          5/12/2001
2           6/2/2003
3          3/29/2004
4          6/13/2005
5          9/14/2005
6           2/3/2006
7          3/22/2006
8          4/10/2006
9          4/24/2006
10         5/17/2006
11         6/11/2006
12         7/21/2006
13         8/20/2006
14         8/24/2006
15         8/31/2006
16         9/25/2006
17         9/29/2006
18         10/1/2006
19         10/4/2006
20        10/15/2006
21        10/18/2006
22        10/19/2006
23        10/19/2006
24        10/22/2006
25        10/31/2006
26         11/1/2006
27         11/7/2006
28        11/10/2006
29        11/17/2006
             ...
125106     4/15/2017
125107     5/13/2017
125108     5/13/2017
125109     5/28/2017
125110     5/29/2017
125111     6/21/2017
125112     6/29/2017
125113     1/25/2017
125114     1/24/2017
125115     1/18/2017
125116     2/21/2017
125117     2/19/2017
125118     2/21/2017
125119     2/15/2017
125120     2/22/2017
125121     6/16/2017
125122      4/4/2017
125123      5/5/2017
125124     5/18/2017
125125      1/5/2017
125126     5/30/2017
125127     5/22/2017
125128     4/28/2017
125129     5/19/2017
125130     3/29/2017
125131     3/31/2017
125132     6/29/2017
125133     6/24/2017
125134      6/8/2017
125135      4/8/2017
Name: DT_DIAG, Length: 125102, dtype: object
DT_NOT
0          5/14/2008
1          5/12/2011
2           6/2/2011
3         10/20/2007
4         10/31/2007
5          8/24/2009
6           2/3/2009
7           9/3/2008
8          7/11/2011
9          3/26/2007
10         5/19/2008
11         6/27/2008
12         3/20/2008
13         8/19/2008
14         3/24/2008
15         3/24/2008
16          1/2/2007
17         3/29/2007
18        10/25/2007
19          1/5/2007
20         2/26/2007
21          2/5/2007
22          1/6/2007
23         8/24/2007
24          1/5/2007
25         8/24/2007
26         1/23/2007
27         2/26/2007
28         8/30/2007
29          1/5/2007
             ...
125106      4/5/2017
125107     5/15/2017
125108     5/15/2017
125109     5/29/2017
125110     5/29/2017
125111     6/26/2017
125112     6/29/2017
125113     1/26/2017
125114     1/24/2017
125115     1/18/2017
125116     2/21/2017
125117     2/20/2017
125118     2/21/2017
125119     2/15/2017
125120     2/22/2017
125121     6/16/2017
125122      4/4/2017
125123      5/5/2017
125124     5/22/2017
125125      2/5/2017
125126     5/31/2017
125127     5/22/2017
125128     4/28/2017
125129     5/19/2017
125130     3/29/2017
125131     3/31/2017
125132     6/30/2017
125133     6/26/2017
125134      7/8/2017
125135      4/8/2017
Name: DT_NOT, Length: 125102, dtype: object
DT_NASC
0          1/29/1999
1          5/12/2001
2           6/2/2003
3          3/19/2004
4          6/13/2005
5          3/30/2004
6           2/3/2006
7          3/22/2006
8          4/10/2006
9          4/24/2006
10         5/13/2006
11          6/8/2006
12         7/21/2006
13         8/20/2006
14         8/24/2006
15         8/31/2006
16         9/25/2006
17         9/29/2006
18         9/30/2006
19         10/4/2006
20        10/15/2006
21        10/18/2006
22        10/19/2006
23        10/18/2006
24        10/22/2006
25        10/30/2006
26         11/1/2006
27         2/23/2007
28        11/10/2006
29        11/17/2006
             ...
125106     4/15/2017
125107     12/5/2017
125108     12/5/2017
125109     5/28/2017
125110     5/28/2017
125111     6/21/2017
125112     6/28/2017
125113     1/25/2017
125114     1/24/2017
125115     1/18/2017
125116     2/20/2017
125117     2/18/2017
125118     2/20/2011
125119     2/15/2017
125120     2/22/2017
125121     6/16/2017
125122      3/4/2017
125123      5/5/2017
125124     5/18/2017
125125      1/5/2017
125126     5/29/2017
125127     5/22/2017
125128     4/28/2017
125129     11/5/2017
125130     3/28/2017
125131     3/30/2017
125132     6/28/2017
125133     6/23/2017
125134      6/8/2017
125135      4/8/2017
Name: DT_NASC, Length: 125102, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [13]:
df_clean.to_csv('../../data/congenita.csv', sep=';')

In [9]:
def first_two(d):                
     return str(d)[:2]

df_clean['uf'] = df_clean.MUNRES.apply(first_two)
df_clean.uf.value_counts().head()

33    21829
35    21116
26     9335
43     9271
23     8955
Name: uf, dtype: int64